DB_NAME=ecig_database
DB_USER=user
DB_PASSWORD=pass
DB_HOST=your-server.database.windows.net
#DB_PORT=

LANGFUSE_SECRET=
LANGFUSE_PUBLIC=
LANGFUST_HOST=

GLADOS_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=
GLADOS_MODEL=
GLADOS_HOST=


BOX_DIR=/Users/[USERNAME]/Library/CloudStorage/Box-Box/Web Scraping CDC Foundation (Monitoring the Global and Domestic Tobacco Epidemic Home)/