DB_NAME=ecig_database
DB_USER=user
DB_PASSWORD=pass
DB_HOST=postgresql.host
DB_PORT=5432
BOX_DIR=/Users/[USERNAME]/Library/CloudStorage/Box-Box/Web Scraping CDC Foundation (Monitoring the Global and Domestic Tobacco Epidemic Home)/